* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#map-canvas {
    height: 100%;
}

.hidden {
    display: none;
}

#ov-container {
    width: 100%;
    height: 100%;
}

.ov-container-left {
    width: 399px;
    height: 100%;
    float: left;
    background-color: #e74d3d;
    border-right: 1px solid #995039;

    overflow-y: auto;
}

#ov-container-right {
    height: 100%;
    float: left;
}

.ov-container-right-static {
    width: calc(100% - 400px);

    background: url('../background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ov-container-right-dynamic {
    width: calc(100% - 800px);
}

#preload {
    margin-top: 100px;
}

.clear {
    clear: both;
}

.map-marker-label{
    position: absolute;
    color: red;
    font-size: 16px;
}

.ov-left::-webkit-scrollbar-track, .dynamic-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.ov-left::-webkit-scrollbar, .dynamic-container::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.ov-left::-webkit-scrollbar-thumb, .dynamic-container::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.bus-line {
    margin-bottom: 0px !important;
}

.line-box, .station-box {
    cursor: pointer;
}

.line-data {
    border-top: 0px !important;
    border-bottom: 0px !important;
}

#map-div {
    position: absolute;
    background-color: transparent;
    bottom: 100px;
    right: 100px;
    z-index: 99;
    background: white;
}

.gm-style-mtc {
    display: none;
}

.collapsible-header {
    height: auto !important;
    border-bottom: 0px !important;
}

.collapsible-body {
    background-color: #ffffff;
}

.no-padding-topbot {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
}

.no-border {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.close-dynamic-container {
    background-color: inherit !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    float: right !important;
}

.dynamic-container {
    background-color: #e74e3e;
    height: 100%;

    overflow-y: auto;
}

.ov-wrapper {
    height: 100%;
    margin-bottom: 0px !important;
}

.selectable-card-marker {
    cursor: pointer;
}

.line-data li {
    margin-bottom: 10px;
}

.pull-right {
    float: right;
}

.feedback-btn {
    position: absolute !important;
    top: auto;
    left: auto;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

.ov-left {
    height: 100%;
    background-color: #e74d3d;
    border-right: 1px solid #995039;

    overflow-y: auto;
}

.ov-right {
    background: url('../background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;

    padding-left: 0px !important;
    padding-right: 0px !important;
}